body {
    background: rgb(5, 1, 41);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.title {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 0.2em;
}

/*wire*/

#wire {
    text-align: center;
    white-space: nowrap;
    position: absolute;
    padding:0;
    width:100%;
    top:-80px;
    border-bottom: 3px solid #222;
    height:100px;
}

#wire li{
    position:relative; 
    list-style: none;
    margin:0 15px;
    padding:0;
    display:inline-block;
    width:15px;
    height:30px;
    border-radius: 50%;
    top:102px;
    background-color: #fff;
    /*animation*/
    animation-name: even-flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#wire li:nth-child(odd){
    animation-name: odd-flash;
}
#wire li:before{
    content: "";
    position: absolute;
    width:14px;
    height:10px;
    border-radius: 4px;
    top:-5px;
    left:0;
    background-color: #444;
}
@keyframes even-flash{
    0%, 100%{
        background: rgba(255,230,65,1);
        box-shadow: 0px 2px 20px 4px rgba(255,230,65,1);
    }50%{
        background: rgba(255,230,65,0.5);
        box-shadow: 0px 2px 20px 4px rgba(255,230,65,0.3);
   
    }
}

@keyframes odd-flash{
    50%{
        background: rgba(40, 155, 50,1);
        box-shadow: 0px 2px 20px 4px rgba(40, 155, 50,1);
    }0%,100%{
        background: rgba(40, 155, 50,0.5);
        box-shadow: 0px 2px 20px 4px rgba(40, 155, 50,0.3);
   
    }
}

/*present */

.present {
    padding-top: 100px;
    margin: 0 auto;
    width: 410px;
}

.lid, .box {
    background: rgb(190, 22, 0);
    position: relative;
    margin: 0 auto;
}

.box {
    width: 400px;
    height: 300px;
}

.lid span, .box span {
    background-color: rgba(253, 215, 1, 0.719);
    display: block;
    position: absolute;
}

.box span:first-child {
    width: 100%;
    height: 50px;
    top: 125px;
}

.box span:last-child, .lid span {
    width: 50px;
    height: 100%;
    left: 175px;
}

.lid span {
    left: 177px;
}

.lid {
    padding: 0 2px;
    width: 400px;
    height: 60px;
    box-shadow: 0 0.8px 6px rgb(56, 56, 56);
    z-index: 1;
    top: 0;
    left: 0;
    transition: top ease-out 0.5s, left ease-out 0.5s, transform ease-out 0.5s;
}

.pop {
    width: 400px;
    color: white;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 10px;
    height: 0;
    transition: all ease-out 0.7s;
}

.pop h2 {
    margin: 0;
}

.present:hover .lid {
    top: -90px;
    left: 10px;
    transform: rotateZ(10deg);
}

.present:hover .pop {
    top: -60px;
}